<?xml version="1.0" encoding="UTF-8"?>
<!-- 
   - name:        applicationContext1.xml
   - description: Spring application context.
   - author:      Raul Pena (raul.pena@hotmail.com)
   -->
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
		 	               http://www.springframework.org/schema/beans/spring-beans.xsd">
    
	
	
	<!-- 
	   - Add beans resources. 
	   -->
	<bean id="bean" 
	      class="com.educacionit.spring.beginning.class01.hello.Bean">
	      
        <property name="greeting">
        	<value>Hello</value>
        </property>			      
	      
    </bean>
    
    
    
</beans>